<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027694508039-8k6m9l111f0mf4o3j6qqnp9vuprbnbv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027694508039-8k6m9l111f0mf4o3j6qqnp9vuprbnbv8</string>
	<key>API_KEY</key>
	<string>AIzaSyA3nCTNpNnDvX7nDZfocK3zf8WXgQ57_dI</string>
	<key>GCM_SENDER_ID</key>
	<string>1027694508039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseCrud</string>
	<key>PROJECT_ID</key>
	<string>fir-crud-53212</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crud-53212.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027694508039:ios:4cf80a735405fcae1652a2</string>
</dict>
</plist>